{% extends 'base.html.twig' %}

{% block title %}Auteur ! Page détail!{% endblock %}

{% block body %}
    <h1>{{ author.firstName|upper }}  {{ author.lastName|upper }}</h1>
    <hr>
    <br>

    <p>
        {% if author.imageName is defined and author.imageName is not empty %}
        <img src="{{ vich_uploader_asset(author, 'imageFile') }}" alt="photo du author" width="400px"><br><br>
        {% endif %}
        {{ author.biography }}
    </p>

    <div>
        <a href="{{ path('author_index') }}" class="btn btn-info">Retour à l'accueil</a>
    </div>

{% endblock %}