<nav class="sticky bg-blanc d-none d-lg-flex py-3 justify-content-lg-end shadow">
    <a class="mr-5 walbaum" href="{{path('home_index')}}" title="L'agence" alt="l'agence">l'agence</a>
    <a class="mr-5 walbaum" href="{{path('author_visitor_index')}}" title="Découvrir les auteur·ice·s" alt="auteur·ice·s">auteur·ice·s</a>
    <a class="mr-5 walbaum" href="{{path('collaborators')}}" title="Les collaborateur·ice·s de l'agence" alt="collaborateur·ice·s">collaborateur·ice·s</a>
    <a class="mr-5 walbaum" href="{{path('manuscrit')}}" title="Envoyer un manuscrit" alt="envoi de manuscrits">envoi de manuscrits</a>
    <a class="mr-5 walbaum" href="{{path('contact')}}" title="Contacter l'agence" alt="contact">contact</a>
</nav>