<!-- MENU RESPONSIVE -->
<nav id="menu" class="d-none flex-column justify-content-center font-m">
    <a class="mx-auto my-4 walbaum" href="{{path('home_index')}}" title="L'agence" alt="l'agence">l'agence</a>
    <a class="mx-auto my-4 walbaum" href="{{path('author_visitor_index')}}" title="Découvrir les auteur·ice·s" alt="auteur·ice·s">auteur·ice·s</a>
    <a class="mx-auto my-4 walbaum" href="{{path('collaborators')}}" title="Les collaborateur·ice·s de l'agence" alt="collaborateur·ice·s">collaborateur·ice·s</a>
    <a class="mx-auto my-4 walbaum" href="{{path('manuscrit')}}" title="Envoyer un manuscrit" alt="envoi de manuscrits">envoi de manuscrits</a>
    <a class="mx-auto my-4 walbaum" href="{{path('contact')}}" title="Contacter l'agence" alt="contact">contact</a>
</nav>

<!-- MENU RESPONSIVE - BOUTON -->
<div class="menu-btn d-lg-none">
    <div class="menu-btn-burger"></div>
</div>