{% extends 'base.html.twig' %}

{% form_theme update_collaborator 'bootstrap_4_layout.html.twig' %}

{% block title %}Agence Catherine Nabokov - Collaborateurs{% endblock %}
{% block icon %}
    <link rel="icon" href="images/avatar.jpg" type="image/jpg" sizes="16x16">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style_admin.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
{% endblock %}

{% block body %}

    {% include('administrator/includes/navbar.html.twig') %}
    
    <div class="container fond">

        <div class="row">
			<div class="col-4">
				<h3 class="titre">Modifier un collaborateur</h3>
			</div>
		</div>
		<br><br>
        <div class="row justify-content-center">
            <div class="col-8">
                {{ form_start(update_collaborator) }}
                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label">{{ form_label(update_collaborator.lastname, 'NOM') }}</div>
                        <div class="col-sm-9">{{ form_row(update_collaborator.lastname) }}</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label">{{ form_label(update_collaborator.firstname, 'PRENOM') }}</div>
                        <div class="col-sm-9">{{ form_row(update_collaborator.firstname) }}</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label">{{ form_label(update_collaborator.biography, 'BIOGRAPHY') }}</div>
                        <div class="col-sm-9">{{ form_row(update_collaborator.biography) }}</div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-dark" style="color: #091740;">Modifier le collaborateur</button>
                    </div>
                
                {{ form_end(update_collaborator) }}
            </div>
        </div>
    </div>

{{form(update_collaborator)}}

{% endblock %}