{% extends 'base.html.twig' %}

{% block title %}Hello auteurs!{% endblock %}

{% block body %}
<div style="padding:10px;">
{# Alert d'ajout d'un nouveau auteur #}
{% for message in app.flashes('add_author_success') %}
 {{message}}
{% endfor %}

{# Alert de modification d'un auteur #}
{% for message in app.flashes('edit_author_success') %}
 {{message}}
{% endfor %}

{# Alert de suppression d'un auteur #}
{% for message in app.flashes('delete_author_success') %}
 {{message}}
{% endfor %}

<br>
{# Ajouter un auteur #}
<div style = "margin: 15px">
<a  href="{{path('author_new')}}"> Ajouter un auteurs </a>
</div>

{# Afficher tout les auteurs et jout des lien de modif et sup #}
 <div style="display: flex; justify-content: space-around">
{% for author in authors %}
 <div style="padding:10px; border: solid 1px;">
<h2> auteur </h2>
{{author.firstname|capitalize }} {{author.lastname|upper}}<br>
<br>
{% if author.imageName is defined and author.imageName is not empty %}
{# <img src="{{ asset('images/authors/' ~ author.imageName ) }}" alt="photo du auteur" width="400px"><br><br> #}
<img src="{{ vich_uploader_asset(author, 'imageFile') }}" alt="photo du auteur" width="400px"><br><br>
{% endif %}
<br>

<h2>Biographie du auteur</h2>
{{author.biography}}
<br>
<a  href="{{path('author_edit', {id:author.id})}}"> Modifier </a>
<br>
<a  href="{{path('author_delete', {id:author.id})}}"> Supprimer </a>
</div>
{% endfor %}
</div>
{% endblock %}
