{% extends 'base.html.twig' %}

{% block title %}Agence Catherine Nabokov · Contacter l'agence{% endblock %}

{% block icon %}
    {# <link rel="icon" href="{{ asset('images/logo2.jpg') }}" type="image/jpg" sizes="16x16"> #}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}

    {% include('visiteur/includes/navbar_responsive.html.twig') %}
    {% include('visiteur/includes/navbar_desktop.html.twig') %}

    <main>

        <div id="contact" class="row no-gutters bg-blanc" style="min-height: 90vh;">

            <div class="bloc bottom col-xl-6 d-flex flex-column justify-content-start">
                <!-- Titre AGENCE -->
                <div class="bloc__titre row d-flex flex-column">
                    <div class="bibliotheque__haut d-flex justify-content-between align-items-end">
                        <div class="bloc__livres vertical d-flex align-items-end">
                            <div class="livre small bg-gris"></div>
                            <div class="livre bg-bleu"></div>
                        </div>

                        <div class="bloc__livres vertical d-flex align-items-end">
                            <div class="livre bg-gris"></div>
                        </div>

                        <h2 class="bleu walbaum">contact</h2>
                    </div>
                    <div class="bibliotheque__bas bg-bleu"></div>
                </div>

                <!-- Texte CONTACT -->
                <div class="bloc__texte row justify-content-center justify-content-xl-start">
                    <p class="col-10 col-md-8 col-lg-6 col-xl-6 offset-xl-3">Pour toute question, vous pouvez me contacter via le formulaire ci-contre. Concernant l’<a href="{{path('manuscrit')}}" title="Envoyer un manuscrit" alt="envoi de manuscrits">envoi de manuscrits</a>, vous pouvez consulter la page en question pour connaîtres les modalités d’envoi.</p>
                </div>

            </div>

            <div class="bloc bottom col-xl-6 d-flex align-items-end justify-content-end">
                <!-- FORMULAIRE -->
                {{ form_start(contact_form) }}
                    <div>
                        {{ form_label(contact_form.sujet) }}
                        {{ form_widget(contact_form.sujet) }}
                    </div>

                    <div class="message">
                        {{ form_label(contact_form.message, 'Une question ?') }}
                        {{ form_widget(contact_form.message) }}
                    </div>

                    <div>
                        {{ form_label(contact_form.email) }}
                        {{ form_widget(contact_form.email) }}
                    </div>

                    <input type="submit" name="submit" value="Envoyer →">
                {{ form_end(contact_form) }}

            </div>

        </div>

        <div id="map" class="map" style="height: 500px; box-shadow: inset 0px 5px 15px rgba(9, 23, 65, .5);">
            {# Ici la map  #}
        </div>

    </main>

    {# FOOTER #}
    {% include('visiteur/includes/footer.html.twig') %}

    <script src="{{ asset('js/main.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="{{ asset ('js/leaflet-providers.js') }}"></script>
    <script>
        
        var map = L.map('map', {
            center: [48.86430, 2.39621],
            zoom: 16,
            zoomControl: true
        });

        // J'importe le fond de carte
        var defaultLayer = L.tileLayer.provider('Esri.WorldGrayCanvas').addTo(map);

        // Icône de marqueur personnalisée
        var myIcon = L.icon({
            iconUrl: "http://ceciliahaentjens.fr/medias/icones/placeholder.png",
            iconSize: [50, 50],
            iconAnchor: [25, 50],
            popupAnchor: [-3, -76],
        });

        // Nous ajoutons un marqueur
        var marker = L.marker([48.86430, 2.39621], { icon: myIcon }).addTo(map);
        marker.bindPopup("<strong>Agence Catherine Nabokov</strong><br>74, rue des Rondeaux<br>75020 Paris");      
    </script>

{% endblock %}


 {# {{ form(contact_form) }}

{% for message in app.flashes('success_mail') %}
{{message}} 
{% endfor %} #}
